.container {
    width: 720px;
    margin: 20px;
    border: 1px solid #ddd;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.container--item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
}

.container--item--index {
    width: 30px;
    padding-left: 20px;
}

.container--item--value {
    width: 690px;
    padding-left: 20px;
}

.container--item--value, .container--item--index {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
}

.container--item:nth-child(odd){
    background-color: #f2f2f2;
}

.container--item:hover {
    background-color: #ddd;

}
.item-form {
    margin-left: 20px;
}

.item-form input[type=text] {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
    width: 300px;
}

.item-form input[type=submit] {
    background-color: #4CAF50;
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    width: 40px;
    font-size: 15px;
}

.empty-result {
    text-align: center;
    margin: 20px;
    font-size: 50px;
}

.container--item--remove {
    border-radius: 4px;
    background-color: #ff1e32;
    border: none;
}

.error {
    color: red;
    margin-left: 5px;
}